li {
    padding: 5px;
    margin: 5px;
    background: rgb(0, 0, 65);
    border-radius: 5px;
  }
  
  .change-devoured {
    /* padding: 5px;
    margin: 5px;
    background: rgb(0, 0, 65); */
    border-radius: 5px;
  }

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h5 {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin-right: 5%;
    text-align: center;
  }

  /* .burgerAdd {
    padding-left: 5%;
    padding-right: 5%;
  } */

  .burgerImage {
    max-width: 100%;
  }

  body {
    background-color:lightslategray;
    padding: 2%;
    font-family: fantasy;
    color:white;
  }

  .create-form {
    margin-top: 10%;
  }

  .jumbotron {
    background-color: rgb(53, 2, 2);
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
